/* Fifth style sheet: https://www.radum.com.au/template/css/custom/main-1564019890.css */
/* Below import is commented out as the file cannot be loaded */
/* @import url('//fonts.googleapis.com/css?family=Lato');*/
@import url('https://fonts.googleapis.com/css?family=Lato');
body,h1,h2,h3,#nav{
    font-family:'Lato', san-serif
}
#nav a{
    font-size:1.1em
}
a:hover{
    color:#8e191c;
    text-decoration: none;
}
#block_10{
    margin-top:0px
}
#nav{
    background-color:#8e191c
}
/* Modified div id="nav" (nested in div id="nav-outer" so that it is more readable */
#nav a:hover,#nav .navbar .nav > .active > a{
    color:#a54749;
    background-color: yellow;
    font-weight: bold;
    border: 1px solid;
}
#above-header-inner > div.cart-outer a,#above-header-inner > div.login a{
    font-family:'Lato', san-serif
}
#above-header-outer{
    background:#f0f0f0;
    border:none
}
#nav-left ul.categories{
    font-family:'Lato', san-serif
}
#nav-left ul.categories li.level_1 > a.ui-state-active{
    background:#8e191c;
    color:#fff
}
#nav-left ul.categories li.level_1 > a:hover{
    background:#8e191c;
    color:#fff
}
#body ul.products li.product div.details > div.price a{
    font-family:'Lato', san-serif
}
input.btn,ul.products li.product .view a{
    color:#fff;
    font-family:'Lato', san-serif;
    font-size:0.9em
}
input.btn:hover,ul.products li.product .view a:hover{
    color:#fff;
    font-family:'Lato', san-serif;
    font-size:0.9em
}
ul.products li.product .cart a{
    background-image:url('/images/content_files/cart-button-white.png');
    font-family:'Lato', san-serif
}
ul.products li.product .cart a:hover{
    background-image:url('/images/content_files/cart-button-white.png');
    font-family:'Lato', san-serif
}
a.btn,input.btn{
    font-family:'Lato', san-serif
}
.price,#body ul.products li.product div.details > div.price a{
    color:#8e191c !important;
    font-family:'Lato', san-serif !important
}
#footer h3{
    color:#fff;
    font-size:1em
}
html,#footer{
    background:#8e191c
}
#footer a:hover{
    color:#333
}
@media only screen and (min-width:992px){
    #menu_1 li.li_45{
        display:none
    }
}
@media only screen and (max-width:992px){
    #nav .navbar ul#menu_1.nav ul.dropdown-menu.level_2{
        background:#eee
    }
    #nav .navbar ul#menu_1.nav ul.dropdown-menu.level_2 li a{
        color:#666
    }
    .dropdown-menu > .active > a,.dropdown-menu > .active > a:hover,.dropdown-menu > .active > a:focus{
        background:#eee;
        color:#666 !important
    }
}
#nav-left ul.categories li.level_1.active > ul.level_2{
    display:block !important
}
#products-added-modal table.ordered-products,#free-gift-modal table{
    margin:10px auto
}
